{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h2>{{ title }}</h2>
</div>
<div class="row">
  <div class="col-md-4">
    {% if sites %}
    <table class="table table-striped" id="owned_stock_table">
      <thead>
        <tr>
          <th>Links</th>
          <th>Descriptions</th>
        </tr>
      </thead>
      <tbody>
        {% for site in group.sites %}
        <tr>
          <td><a href={{site.link}}>{{site.link}}</a></td>
          <td>{{site.description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div><b>No sites in this Group</b></div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <div><b>Add a Site</b></div>
        <p></p>
            {{ form.link.label }}<br>
            {{ form.link(cols=32, rows=4) }}<br>
            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4) }}<br>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
</div>
{% endblock %}
